{% extends 'base.html' %}

{% block title %}
Event
{% endblock %}

{% block content %}

<h2 class="offset-5 mt-4">EDIT EVENT</h2>
<div class="col-4 offset-4 mt-4">
  <form method="post">
    {% csrf_token %}
    <table class="form form-table mt-5">
      {{ form }}
    </table>
    <tr>
      <button type="submit"  class="btn btn-primary float-right ml-2"> Submit </button>
      <button class="btn btn-info float-right"><a href="{% url 'calendarapp:all_events' %}"> Back </a></button>
    </tr>
  </form>
</div>

{% endblock %}
